<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="UAVVision.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <UAVVision.Properties.Settings>
            <setting name="webservice" serializeAs="String">
                <value>http://www.sharkscan.com.au/service.php</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>James Masterman</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>2ca366a5ec86259d78bd7b6720dd658c</value>
            </setting>
            <setting name="moviedir" serializeAs="String">
                <value>c:\UAV\Movies\</value>
            </setting>
            <setting name="frameBufferSize" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="fps" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="missionPointPollingInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="lastMissionMovie" serializeAs="String">
                <value />
            </setting>
            <setting name="lastMissionLog" serializeAs="String">
                <value />
            </setting>
            <setting name="initZoom" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="units" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>m/s</string>
                        <string>km/h</string>
                        <string>m/h</string>
                    </ArrayOfString>
                </value>
            </setting>
        </UAVVision.Properties.Settings>
    </userSettings>
</configuration>
